{% extends "layout.html.twig" %}

{# {% block title %}Accueil{% endblock %} #}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col py-3 text-center">
           <div class="btn-group">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked />
                <label class="btn btn-secondary" for="option1">Villes</label>

                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
                <label class="btn btn-secondary" for="option2">Corporations</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}