<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand collapse navbar-collapse" href="{{ path('accueil')}}"><span class="bi bi-emoji-smile"></span></a>
    
  {# MOBILE START #}
    <button class="navbar-toggler searchHideSupportedContent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-toggler searchHideSupportedContent" href="{{ path('accueil')}}"  aria-expanded="true">
      <span class="bi bi-emoji-smile"></span>
    </a>

    <button class="navbar-toggler searchHideSupportedContent" id="searchButtonSupportedContent" type="button" data-bs-toggle="collapse" data-bs-target=".searchSupportedContent" aria-controls="searchSupportedContent" aria-label="Toggle navigation">
      <span class="bi bi-search"></span>
    </button>

  {# MOBILE START SEARCH #}
    <button class="navbar-toggler closeHideSupportedContent hidden" id="closeHideSupportedContent" type="button" data-bs-toggle="collapse" data-bs-target=".searchSupportedContent" aria-controls="searchSupportedContent" aria-label="Toggle navigation">
      <span class="bi bi-x"></span>
    </button>
    <form class="hidden d-lg-none" id="searchFormSupportedContent" >
      <input class="form-control me-2" type="search" placeholder="Trouve ton folklore" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">FIND</button>
    </form>


  {# DESKTOP #}
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarFINDDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            FIND
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarFINDDropdown">
            <li><a class="dropdown-item" href="#">Localisation</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Folklore</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarCalendarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calendrier
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarCalendarDropdown">
            <li><a class="dropdown-item" href="#">Congrès</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Ordinesque</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarInsignesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Insignes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarInsignesDropdown">
            <li><a class="dropdown-item" href="#">Code National de la Faluche</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Usage en Belgique</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Codes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Révisions</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Trouve ton folklore" aria-label="search">
        <button class="btn btn-outline-success" type="submit">FIND</button>
      </form>
    </div>
  </div>
</nav>