<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    

  {# DESKTOP #}
    <div class="collapse navbar-collapse justify-content-center">
          <figure class="text-center mb-0"> 
            <span class="bi bi-emoji-smile"></span>
            <figcaption class="" href="#" id="navbarFINDDropdown">
              FIND - Backoffice
            </figcaption>
          </figure>
    </div>
  </div>
</nav>